


body{
    background: linear-gradient( #709a95,#2a605a);
    background-size: cover;
}

.nav{
    background-color: #fff;
    height: 50px;
    width:1300px;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    left: 80px;
    position: relative;
}

.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0;
        text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 7px 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #66989b;
}


.container_img{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;


}
.container_img a{
    text-decoration: none;
    color: aliceblue;
}

.container_img img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    object-fit: cover;
}
.container_img1{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
    
}
.container_img2{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.container_img3{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;

}

.container_img4{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}

.container_img5{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}

.container_img6{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.container_img7{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.container_img8{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
