 
 body{
     background-color: #99f0ff;
     font-family: 'Tajawal', sans-serif;
     font-family: 'Tajawal', sans-serif;
 }
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    left: 500px;
    top: 150px;
    width: 400px;
    height: 450px;
    padding: 50px;
    background:linear-gradient(to right,#cdffd8,#9ac1fb);
    border-radius: 10px;
 }

 h1{

    color: #6a806e;

 }

.container_input{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.container_input input{
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 20px;
    font-size: 20px;
}

#username{
    background-color: #cdffd8;
}
#email{
    background-color: #9ac1fb;
}
#password{
    background-color: #cdffd8;
}
.icon{
    opacity: 0;

}
.icon{
    opacity: 0;
}

button{
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 9px;
    border: none;
    background-color: #9ac1fb ;
}



@media (max-width:641px){
     body{
     background-color: #99f0ff;
     font-family: 'Tajawal', sans-serif;
     font-family: 'Tajawal', sans-serif;
 }
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    left: 80px;
    top: 80px;
    width: 300px;
    height: 400px;
    padding: 50px;
    background:linear-gradient(to right,#cdffd8,#9ac1fb);
    border-radius: 10px;
 }

 h1{

    color: #6a806e;

 }

.container_input{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.container_input input{
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 20px;
    font-size: 20px;
}

#username{
    background-color: #cdffd8;
}
#email{
    background-color: #9ac1fb;
}
#password{
    background-color: #cdffd8;
}
.icon{
    opacity: 0;

}
.icon{
    opacity: 0;
}

button{
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 9px;
    border: none;
    background-color: #9ac1fb ;
}

}