  


body{
    background: #fff;
}

.nav{
    background-color: #66989b;
    height: 70px;
    width:100%;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    /* left: 80px;
    position: relative; */
}



.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 0px 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
}


.container_img{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;


}
.container_img a{
    text-decoration: none;
    color: aliceblue;
}

.container_img img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    object-fit: cover;
    transition: 0.8s ease;

}
.container_img img:hover{

transform: scale(1.1);
}




.container_img_item{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
    
}

 .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #f2f1f4;
   
 }
 .icons i{
    margin: 5px 60px;
    font-size: 30px;
    cursor: pointer;
 }
 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #f2f1f4;
    border-top: 3px solid black;
 }
 footer h2{
    font-size: 30px; 
    font-weight: bold;
    color: #66989b;
 }




@media (max-width:450px) {

    .nav ul{
        margin-left: -5px;
    }


.nav ul li{
    margin: 0px .5rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
.container_img{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}
 .container_img img{
    width: 300px;
    height: 100px;
    object-fit: cover;
    margin: 15px;
    /* margin-left:;     */
 }
 footer h2{
    margin-top: 10px;
 }
  .icons i{
    margin: 5px 20px;
}
}

@media (max-width:780px) {
    .container_img{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}
 .container_img img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    margin: 15px;
    /* margin-left:;     */
 }
 footer h2{
    margin-top: 10px;
 }
}
@media (max-width:1280px) {
    
    /* .sale{
        width: 70%;
        
    } */

    .container_img4{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}


}