
body{
    background: linear-gradient(to right, #709a95,rgb(42, 96, 90));
    background-size: cover;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    overflow-x: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    transition: ease-in-out;
}




.nav{
    background-color: #fff;
    height: 70px;
    width:100%;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    /* left: 80px;
    position: relative; */
}



.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 0px 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #66989b;
}

.carousel{
    margin-top: 30px;
    border-radius: 10px;
}

.container_img{

display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;


}
.container_img i{
    font-size: 25px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 7px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.container_img3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    /* margin-left: 15%; */
    max-width: 90%;
    height: auto;
    padding: 10px;

}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
.overview img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 17px;
    object-fit: cover;
    transition: 0.9s ease;
}
.overview img:hover{
    transform: scale(1.1);
}

.overview h5{
    color: rgb(45, 52, 59);
    font-weight: bold;
}
.overview a{
    text-decoration: none;
}

 .sale{
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin: 80px;
    background:linear-gradient(#f2f1f4,#d59daa);
    width: 40%;
    padding-left: 100px;
 }

 .sale input{
 background-color: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 30px;
    border: none;
 }
 .container_img4{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

 }
/*  
 .container_img4 i{

    position: relative;
    top: 360px;
    left: -190px;
    cursor: pointer;

 } */
 .container_img4 img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 50px;
    transition: 0.9s ease;
    border-radius: 10px;

 }
 .container_img4 img:hover{
    transform: scale(1.1);
 }
 .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #f2f1f4;
   
 }
 .icons i{
    margin: 5px 60px;
    font-size: 30px;
    cursor: pointer;
 }
 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #f2f1f4;
    border-top: 3px solid black;
 }

 
 @media (min-width:360px) {

.nav ul li{
    margin: 0px 1.5rem;
    color: #e00000;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

    

 }
 
@media (max-width:450px) {

.nav ul li{
    margin: 0px .5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

    .container_img3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 95%;
    height: auto;
    padding: 0%;
}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 5px; */
}
.overview img{
     width: 70px;
    height: 100px;
    border-radius: 10px;
    /* margin: 10px; */
    object-fit: cover;
}
.container_i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.container_img4{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}
 .container_img4 img{
    width: 70px;
    height: 100px;
    object-fit: cover;
    margin: 15px;
    /* margin-left:;     */
 }
 .sale{
    margin: 20px;
    width: 90%;
    padding-left: 50px;
 }
 footer h2{
    margin-top: 10px;
 }
  .icons i{
    margin: 5px 20px;
}
}

@media (max-width:780px) {
    .container_img4{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}
 .container_img4 img{
    width: 70px;
    height: 100px;
    object-fit: cover;
    margin: 15px;
    /* margin-left:;     */
 }
 .sale{
    margin: 20px;
    width: 90%;
    padding-left: 50px;
 }
 footer h2{
    margin-top: 10px;
 }
}
@media (max-width:1280px) {
    
    /* .sale{
        width: 70%;
        
    } */

    .container_img4{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}


}