
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
*{
    padding: 0px;
    transition: ease-in-out;
    margin: 0px;
        /* outline: 1px solid red; */

}


.nav{
    background-color:#66989b;
    height: 70px;
    width:100%;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    /* left: 80px;
    position: relative; */
    
}



.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 0px 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}


.fa-arrow-right{

    margin: 7px 1rem;
    cursor: pointer;

 }
 img{

    object-fit: cover;
    width: 500px;
    height: 400px;
    border-radius: 8px;
} 
.container{
    /* margin-top: 30px; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: auto;

}
.main_item{
        display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: auto;
    /* padding: 20px 60px; */

}
.data{
    height: 450px;
    width: 480px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-left: 20px;
}

.data h1{
    color: #66989b;
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.info{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: larger;
    /* margin-left: 200px; */
    /* background-color: #66989b; */
    /* margin-left: 10%; */
    /* margin-right: -5%; */
    margin-top: -3%;
    /* overflow-x: auto; يضيف الاسكرول الأفقي */
    /* scroll-behavior: smooth; حركة ناعمة */
    /* scrollbar-width: none; */
}
.info p{
    width: 500px!important;
    height: auto!important;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 10px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: rgb(170, 170, 170) solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: x-large;
    width: 40px;
    height: 40px;
}
.mines{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: rgb(170, 170, 170) solid 1px;
    /* border-radius: 4px; */
    font-size: x-large;
    width: 40px;
    height: 40px;
}

.carousel{
margin-top: 10px;
    border-radius: 10px;
   width: 400px;
   height: 400px;
   /* margin-left: -1; */
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: rgb(170, 170, 170) solid 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    padding: 10px 15px;
    width: auto;
    height: 40px;

}

#add_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: #66989b ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}



.other_Items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.other_Items h1{
    color: #66989b;
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}
.container_img{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: 50px 20px;
    transition: 0.8s ease;

}
.container_img img:hover{

transform: scale(1.1);
}
.container_img a{
    text-decoration: none;
    color: #66989b;
}

.container_img img{
    transition: 0.8s ease;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    object-fit: cover;
}
.container_img_men{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}


@media (max-width:450px) {

    /* .nav ul{ */
        /* margin-left: -10px; */
    /* } */


.nav ul li{
    margin: 0px .6rem;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}



.carousel{
    margin-top: 10px;
    border-radius: 10px;
    /* margin-left: 20px; */
   width: 370px !important;
   height: 400px !important;
   background-color: #66989b
   /* margin-left: -37px; */
}

.carousel-item img{
width: 370px !important;
 height: 400px;

}

.fa-arrow-right{

    margin: 7px;
    margin-left: -1px;
    
    cursor: pointer;

 
}
/*
img{

    object-fit: cover;
    width: 600px;
    height: 200px;
    border-radius: 8px;
}  */
.container{
    /* margin-top: 30px; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* background-color:#66989b; */

}
.main_item{
        display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* background-color: #66989b; */
    width: 100%;
    /* padding: 20px 60px; */

}


.data{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    /* margin-top: 80px; */
    margin-left: 20px;
    margin-top: 100px;
}

.data h1{
    color: #66989b;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.info{
    width: auto;
    height: 100px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: larger;
    /* margin-left: 200px; */
    /* background-color: #66989b; */
    /* margin-left: 10%; */
    /* margin-right: -5%; */
    margin-top: -20%;
    /* overflow-x: auto; يضيف الاسكرول الأفقي */
    /* scroll-behavior: smooth; حركة ناعمة */
    /* scrollbar-width: none; */
}
.info p{
    width: 340px!important;
    height: auto!important;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: rgb(170, 170, 170) solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: x-large;
    width: 40px;
    height: 40px;
}
.mines{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: rgb(170, 170, 170) solid 1px;
    /* border-radius: 4px; */
    font-size: x-large;
    width: 40px;
    height: 40px;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: rgb(170, 170, 170) solid 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    padding: 10px 15px;
    width: auto;
    height: 40px;

}

#add_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: #66989b ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}



.other_Items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
.other_Items h1{
    color: #66989b;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 20px; */
}
.container_img{
    /* margin-left: 10%; */
    align-items: center;
    justify-content: center;
}

.container_img img{
    transition: 0.8s ease;
    width: 125px;
    height: 200px;
    border-radius: 10px;
    margin: 15px;
    object-fit: cover;
}
.container_img_men{
     display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
}

