
body{
    background: linear-gradient(to right, #709a95,rgb(42, 96, 90));
    background-size: cover;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    overflow-x: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

}




.nav{
    background-color: #fff;
    height: 70px;
    width:100%;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    /* left: 80px;
    position: relative; */
}



.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 0px 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #66989b;
}

.container_img{

display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;


}
.container_img i{
    font-size: 25px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 7px;
}

#left_Arrow{
    position: relative;
}

#right_Arrow{
    position: relative;

}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img2{
    width: 300px;
    height: 200px;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    
}


.container_img3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    /* margin-left: 15%; */
    max-width: 90%;
    height: auto;
    padding: 30px;

}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.overview img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 17px;
    object-fit: cover;
}

.container_i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.container_i h5{
    color: rgb(54, 63, 71);
}
.container_i a{
    text-decoration: none;
}

 .sale{
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-align: center;
    align-items: center;
    margin: 80px;
    position: relative;
    background:linear-gradient(#f2f1f4,#d59daa);
    width: 550px;
    padding-left: 130px;
 }

 .sale input{
 background-color: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 30px;
    border: none;
 }
 .container_img4{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    flex-direction: row;


 }
/*  
 .container_img4 i{

    position: relative;
    top: 360px;
    left: -190px;
    cursor: pointer;

 } */
 .container_img4 img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 50px;
 }
 .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #f2f1f4;
   
 }
 .icons i{
    margin: 5px 60px;
    font-size: 30px;
    cursor: pointer;
 }
 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #f2f1f4;
    border-top: 3px solid black;
 }
 





   @media (max-width:1024px){





 .container_img4{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   /* margin-left: 7%; */
   margin-bottom: 20px;
 }
 .container_img4 img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
 }

   }
   
 @media (max-width: 480) {
    .container_img3 img{
        width: 100px;
        height: 150px;
        border-radius: 10px;
        margin: 2px;
        object-fit: cover;
     }
    }