/* 
.nav {
  background-color: #da0000;

}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  padding: 0;
}

.nav ul li {
  margin: 7px 1rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #66989b;
} */





/* .nav{
    background-color: #fff;
    height: 50px;
    width:1300px;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
     left: 80px;
     position: relative; 
 } 

.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0;
        text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 7px 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #66989b;
} 

.fa-arrow-right {
  margin: 7px 1rem;
  position: relative;
  top: 6px;
  left: 15px;
  cursor: pointer;
}
  */

body {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
}

h1 {
  color: #66989b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 80px;
  /* margin-left: 2%; */

}


.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.container_img {
  display: flex;
  justify-self: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  flex-wrap: wrap;
  max-width: 70%;
  /* margin-left: 7%; */
  /* margin: 80px; */
  height: auto;
  /* width: auto; */
  
}
.modal-title{
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  margin-left:38%;
}
.modal-body{
  font-size: larger;
}

#img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}

.nav {
  background-color: #66989b;
  height: 70px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-self: center;
  text-align: center;
  margin-top: -7.8px;
  /* left: 80px;
    position: relative; */
}



.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;

  padding: 0;
}

.nav ul li {
  margin: 0px 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}


button:hover{
  background-color: #66989b;
  color: #3d7674;
}

.details {
  width: 25%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #fff;
  margin-left: 10%;
  
  /* margin-top: -7%; */
}


h3 {
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
}

p {
  color: black;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
}

#btn {
  background-color: #3d7674;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 15px;
  border-radius: 9px;

}