


.nav{
    background-color: #fff;
    height: 50px;
    width:1300px;
    display: flex;
    text-align: center;
    justify-self: center;
    text-align: center;
    margin-top: -7.8px;
    /* left: 80px; */
    /* position: relative; */
}

.nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0;
        text-decoration: none;

    padding: 0;
}

.nav ul li{
    margin: 7px 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #66989b;
}
.fa-arrow-right{

    margin: 7px 1rem;
    position: relative;
    top: 6px;
    left: 15px;
    cursor: pointer;

}

div{

    width: 100%;
    height: 500px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    fill-opacity: calc(1);
    border: 1px solid black;
    margin: 10px
    
}

div img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.price{
    color: #66989b;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}

.rate{
    width: 50px;
    height: 10px;
    margin-left: 35px;
    color: #d59daa;
    border: none;
}

input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 70px;
    text-align: center;
}


.names{
    color: #66989b;
    font-size: 30px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;

}

.comments{

font-size: larger;
font-family: 'Times New Roman', Times, serif;
color: #d59daa;
}

.M{
    position: relative;
    left: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

border: 3px solid #66989b;
margin: 10px;
padding: 10px;
width: 500px;
height: 200px;
border-radius: 5px;
}


.A{
    position: relative;
    left: 450px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

border: 3px solid #66989b;
margin: 10px;
padding: 10px;
width: 500px;
height: 200px;
border-radius: 5px;
}


button{
color: white;
background-color: #2a605a;
width: 100%;
height: 50px;
border-radius: 30px;
border: none;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#btn{
    font-size: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    left: -460px;
}