
body{

    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #da0000;*/
    flex-direction: row;
}


img{
    width: 55%;
    height: 100%;
    object-fit: cover;
}


.form_div{
      width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3d7674;
    border-radius: 10px;
}

h2{
    font-size: 80px;
    color: #99a8a9;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}


input{
    width: 350px;
    height: 60px;
    background-color: #66989b;
    color: white;
    text-align: center;
    border: none;
    border-radius: 9px;
    font-size: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
}


.btn{
    cursor:progress;
    width:200px;
    height: 50px;
    background-color:#66989b;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
    margin-bottom: 10px;
}